.main{
  width: 1050px;
  height: 500px;
  background-color: silver;
  position: relative;
  margin: auto;
  border: 2px solid;
}

.one{
  width: 200px;
  float: left;
  margin-right: 50px;
}

.two{
  width: 200px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.three{
  width: 200px;
  position: absolute;
  right: 0;
  top: 0;
}

.meotxe{
  width: 200px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.one1{
  width: 150px;
  position: absolute;
  top: 50px;
}

.two2{
  width: 150px;
  position: absolute;
  top: 100px;
  left: 290px;
  
}

.three3{
  width: 150px;
  position: absolute;
  top: 150px;
  left: 330px;
}

.meotxe4{
  width: 150px;
  position: absolute;
  top: 200px;
  left: 370px;
}

.one1-2{
  width: 150px;
  position: absolute;
  top: 50px;
  left: 650px;
}

.two2-2{
  width: 150px;
  position: absolute;
  top: 100px;
  left: 610px;
}

.three3-2{
  width: 150px;
  position: absolute;
  top: 150px;
  left: 570px;
}

.meotxe4-2{
  width: 150px;
  position: absolute;
  top: 200px;
  left: 540px;
}