.main{
    width: 800px;
    height: 400px;
    border: solid;
    margin: auto;
}

.div1{
    width: 150px;
    height: 100px;
    background-color: purple;
    border: solid orange;
    float: left;
    margin-left: 40px;
    margin-top: 30px;
    border-radius: 5px;
}

.div2{
    width: 150px;
    height: 100px;
    background-color: purple;
    border: solid orange;
    float: left;
    margin-left: 40px;
    margin-top: 30px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.div3{
    width: 150px;
    height: 100px;
    background-color: purple;
    border: solid orange;
    float: left;
    margin-left: 40px;
    margin-top: 30px;
    border-radius: 50%;
}

.div4{
    width: 150px;
    height: 100px;
    background-color: purple;
    border: solid orange;
    float: left;
    margin-left: 40px;
    margin-top: 30px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.div1-2{
    width: 150px;
    height: 100px;
    background-color: purple;
    border: solid orange;
    float: left;
    margin-left: 40px;
    margin-top: 50px;
    border-radius: 5px;
    border-top-left-radius: 100%;
}

.div2-2{
    width: 150px;
    height: 100px;
    background-color: purple;
    border: solid orange;
    float: left;
    margin-left: 40px;
    margin-top: 50px;
    border-radius: 5px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

}

.div3-2{
    width: 150px;
    height: 100px;
    background-color: purple;
    border: solid orange;
    float: left;
    margin-left: 40px;
    margin-top: 50px;
    border-radius: 5px;
    border-top-left-radius: 100%;
    border-bottom-right-radius: 100%;
}

.div4-2{
    width: 150px;
    height: 100px;
    background-color: purple;
    border: solid orange;
    float: left;
    margin-left: 40px;
    margin-top: 50px;
    border-radius: 5px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

.main-2{
    width: 900px;
    height: 600px;
    border: solid 1px;
    margin: auto;
    margin-top: 5px;
}

.div-3{
    width: 300px;
    height: 200px;
    background-color: aquamarine;
    border: solid 4px red;
    float: left;
    margin-left: 100px;
    margin-top: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.div2-3{
    width: 300px;
    height: 200px;
    background-color: aquamarine;
    border: solid 4px red;
    float: left;
    margin-left: 100px;
    margin-top: 50px;
    border-top-left-radius: 70px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 70px;
}

.div3-3{
    width: 300px;
    height: 200px;
    background-color: aquamarine;
    border: solid 4px red;
    float: left;
    margin-left: 100px;
    margin-top: 50px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 90px;
    border-top-right-radius: 90px;
}

.div4-3{
    width: 300px;
    height: 200px;
    background-color: aquamarine;
    border: solid 4px red;
    float: left;
    margin-left: 100px;
    margin-top: 50px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 200px;
}


.child1{
    width: 250px;
    height: 150px;
    background-color: blue;
    margin: 25px auto;
}

.different{
    width: 200px;
    height: 100px;
    margin: 0;
    margin-left: 20px;
    margin-top: 50px
}