.main-table{
  background-color: rgb(207, 201, 201);
  border-collapse: collapse;
}

.red-sector{
  background-color: red;
  font-weight: bold;
}

.green-sector{
  background-color: greenyellow;
}

.white-sector{
  background-color: white;
}

.blue-sector{
  background-color: blue;
  font-weight: bold;
}

.second-table td{
  width: 170px;
  height: 50px;
}

.second-table .about td{
  width: 170px;
  height: 25px;
  text-align: center;
  font-weight: bold;
}

.second-table .last-row td{
  height: 25px;
  background-color: green;
}
.second-table thead tr td{
  font-weight: bold;
  font-size: 58px;
}