.help{
    width: 600px;
    display: flex;
    margin: 100px auto;
}

.help-question{
    font-size: 22px;
    font-weight: bold;
    width: 320px;
    margin: auto;
}

.help-search{
    margin-top: 40px;
    width: 600px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background-color: #f1f3f6;
    box-sizing: border-box;
    padding: 30px;
    outline: none;
}

.help-search-bar{
    position: relative;
}

.yellow-icon{
    position: absolute;
    top: 55px;
    right: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}


.options{
    background-color: white;
    margin-bottom: 30px;
    width: 800px;
    border-radius: 20px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
    cursor: pointer;
}

.option-quest{
    font-weight: bold;
    font-size: 16px;
    box-sizing: border-box;
    padding: 50px;
}

.plus-icon{
    width: 20px;
}

@media screen and (max-width: 1200px){
    .help-option{
        width: 93%;
        margin: auto;
    }

   .options{
        width: 90%;
   }
}

@media screen and (max-width: 650px){
    .help-search{
        width: 550px;
        transition: 0.5s;
    }

    .help-search{
        margin-left: 40px;
    }
}

@media screen and (max-width: 600px){
    .help-search{
        width: 350px;
        transition: 0.5s;
    }

    .help-search{
        margin-left: 40px;
    }
    
    body{
        width: 100%;
    }
}