header{
    width: 1300px;
    max-width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    height: 80px;
    justify-content: space-between;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    text-align: left;
    flex-direction: row;
    margin: auto;
    
}

.logo-photo{
    width: 150px;
    cursor: pointer;
}

.avtorizacia, .add{
    display: flex;
    border: none;
    background-color: transparent;
    border: 2px solid #f1f3f6;
    border-radius: 20px;
    padding: 9px 12px;
    font-size: 15px;
    box-sizing: border-box;
    cursor: pointer;
    transition:  border-color 0.2s;
    align-items: center;

}

.avtorizacia{
    margin-right: 20px;
}

.avtorizacia-text, .add-text{
    margin-left: 10px;
    position: relative;
    top: -2px;
    font-family: Arial;
    font-weight: bold;
}

.middle-section{
    display: flex;
    justify-content: center;
    margin-left: 10px;
}

.right-section{
    display: flex;
    align-items: center;
}

.small-icons{
    display: flex;
    width: 100px;
    margin-right: 20px;
}

.small-icons2{
    display: none;
}

.last{
    display: flex;
    position: relative;
    height: 30px;
}

.input{
    display: flex;
    position: relative;
}

.search-bar{
    width: 500px;
    border-radius: 30px;
    border: solid 2px #f1f3f6;
    margin-right: 20px;
    padding: 0 15px;
    font-weight: bold;
    position: relative;
    outline: none;
}

button{
    background-color: none;
    border: none;
}

.line{
    width: 100%;
    border-top: solid 2px #f1f3f6;
}

.icon-button{
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-left: 5px;
    margin-right: 5px;
}

.avtorizacia:hover, .add:hover{
    border-color: #ffd102;
}

.icon-button:hover{
    background-color: #f1f3f6;
}

.qr-code{
    width: 35px;
    margin-left: 20px;
}

.header2{
    background-color: rgb(255, 255, 255);
    height: 58px;
    display: flex;
    width: 1300px;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.sell-ofer{
    background-color: #ffe9e8;
    color: #ff6961;
    border: none;
    font-weight: bold;
}

.sell-ofer:hover{
    background-color: #f5c0bd;
}

.buy{
    color: #6f7279;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.2s;
}

.buy1{
    display: none;
}

.buy:hover{
    color: #8b93a1;
}

.search-button{
    position: absolute;
    right: 90px;
    top: 3px;
    background-color: transparent;
    cursor: pointer;
}

.search-button1{
    position: absolute;
    right: 60px;
    top: 12px;
    background-color: transparent;
    cursor: pointer;
}

.search2{
    display: none;
}

.drop-down{
    position: absolute;
    width: 160px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    padding-top: 30px;
    padding-bottom: 30px;
    z-index: 2;
    box-shadow: 1px 5px 3px  rgb(172, 167, 167);
    top: 24px;
    right: 30px;
    display: none;
}

.page{
    background-color: transparent;
    width: 100%;
    text-align: start;
    font-size: 15px;
    padding: 15px 1px 15px 20px;
    font-weight: bold;
    color: #3c3f44;
}

.page:hover{
    background-color: #f2f3f7;
}

.last:hover .drop-down{
    display: block;
}

.mymarket-button{
    background-color: transparent;
}

@media screen and (max-width: 1250px){
    .search-bar{
        width: 450px;
        transition: 0.5s;
    }
}

@media screen and (max-width: 1190px){
    .search-bar{
        width: 400px;
        transition: 0.5s;
    }

    .search-button{
        right: 50px;
        transition: 0.5s;
    }

    .search-button1{
        right: 30px;
        transition: 0.5s;
    }
}

@media screen and (max-width: 1145px){
    .search-bar{
        width: 350px;
        transition: 0.5s;
    }

    .search-button{
        right: 50px;
    }

    .search-button1{
        right: 30px;
    }
}

@media screen and (max-width: 1100px){
    .search-bar{
        width: 300px;
        transition: 0.5s;
    }

    .search-button{
        right: 50px;
    }

    .search-button1{
        right: 30px;
    }
}

@media screen and (max-width: 1050px){
    .search-bar{
        width: 250px;
        transition: 0.5s;
    }

    .search-button{
        right: 50px;
    }

    .search-button1{
        right: 30px;
    }
}

@media screen and (max-width: 1000px){
    .search-bar{
        width: 200px;
        transition: 0.5s;
    }

    .search-button{
        right: 50px;
    }

    .search-button1{
        right: 30px;
    }
}

@media screen and (max-width: 950px){
    .search-bar{
        width: 150px;
        transition: 0.5s;
    }

    .search-button{
        right: 45px;
    }

    .search-button1{
        right: 30px;
    }
}

@media screen and (max-width: 949px){
    .add{
        display: none;
        transition: 0.5s;
    }

    .sell-ofer{
        display: flex;
    }

    .search-bar{
        width: 300px;
        height: 40px;
        transition: 0.5s;
    }

    .next-to-categori{
        height: 600px;
        transition: 0.5s;
    }
}

@media screen and (max-width: 900px){
    .search-bar{
        width: 250px;
        transition: 0.5s;
    }
}

@media screen and (max-width: 850px){
    .search-bar{
        width: 200px;
        transition: 0.5s;
    }
}

@media screen and (max-width: 800px){
    .search-bar{
        width: 150px;
        transition: 0.5s;
    }
}

@media screen and (max-width: 780px){
    .search-bar{
        display: none;
    }

    .search-button{
        display: none;
    }

    .search-button1{
        display: none;
    }

    .chanacvleba{
        display: none;
    }

    .search2{
        display: block;
    }
}

@media screen and (max-width: 770px){
    .avtorizacia{
        display: none;
    }

    .small-icons{
        display: none;
    }

    .small-icons2{
        display: flex;
    }
}

@media screen and (max-width: 949px){
    .buy1{
        display: block;
    }

    .buy2{
        display: none;
    }
}