.kalata{
    width: 1300px;
    margin: auto;
}

.kalata-box{
    background-color: white;
    padding: 150px 300px 200px 300px;
    margin-bottom: 250px;
    border-radius: 20px;
}

.shignit{
    text-align: center;
}

.kalata-logo{
    padding: 15px;
    border-radius: 50%;
    background-color: rgb(231, 224, 224);
}

.kalata-text{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.kalata-text2{
    font-size: 14px;
    color: rgb(141, 140, 140);
}

.submit{
    width: 200px;
    margin-top: 20px;
    height: 50px;
    border-radius: 10px;
    background-color: #ffce1d;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer
}

.kalata-title{
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 30px;
    margin-top: 10px;
}