header{
    width: 1400px;
    margin: auto;
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 50px;
}

p{
    margin: 0;
    font-family: 'Noto Sans Georgian', sans-serif;
}

.main{
    width: 1400px;
    margin: 80px auto;
    padding-left: 50px;
    display: flex;
    max-width: 100%;
    justify-content: space-between;
}

form{
    width: 451px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.left-section{
    display: flex;
    gap: 10px;
    align-items: center;
}

.qr{
    width: 50px;
}

.tineti{
    font-size: 20px;
    font-weight: bold;
    color: #4b78f5;
}

.language{
    display: flex;
    gap: 20px;
    align-items: center;
    border: 1px solid #b3b7c0;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    color: #4b4d53;
}

.arrow-down{
    width: 15px;
}

.select-language{
    position: absolute;
    top: 43px;
    padding: 10px;
    left: 0;
    right: 0;
    border-radius: 10px;
    border: 1px solid #b3b7c0;
    display: none;
    background-color: rgb(255, 255, 255);
}

.chose-language{
    width: 110px;
    padding: 7px 15px 7px 15px;
    text-align: start;
    border-radius: 7px;
    border: none;
    font-size: 15px;
    background-color: transparent;
    color: #4b4d53;
}

.chose-language1{
    font-weight: bold;
}

.chose-language:hover{
    background-color: #dee0e4;
}

.language:hover .select-language{
    display: block;
}

.crate{
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.same{
    width: 450px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #b3b7c0;
    margin-top: 15px;
    box-sizing: border-box;
    padding: 20px;
    outline-color: #4b78f5;
}

.gander{
  margin-top: 10px;
  font-size: 16px;
  color: #727479;
}

.radio-style{
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.radio-text{
    position: relative;
    top: -6px;
    font-family: 'Noto Sans Georgian', sans-serif;
    margin-right: 20px;
}

#permision{
    margin-top: 15px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.checkbox-text{
    font-size: 17px;
    color: #3b3d41;
    position: relative;
    top: -5px;
    font-family: 'Noto Sans Georgian', sans-serif;
}

.submit{
    width: 450px;
    height: 50px;
    border-radius: 25px;
    border: none;
    margin-top: 30px;
    background-color: #4b78f5;
    color: white;
    font-size: 18px;
}

::placeholder{
    font-size: 18px;
}

.logo{
    width: 20px;
}

.sighnup-with{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.sighn-with{
    display: flex;
    width: 200px;
    margin-top: 30px;
    height: 50px;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    gap: 10px;
    border: 1px solid #b3b7c0;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
}

.sighn-with:hover{
    border: 1px solid #777a80;
}

.sighn-in{
    margin: 30px auto;
    width: 300px;
    color: #797b80;
}

.image{
    width: 100%;
}

.side-img{
    width: 100%;
}

.left-side{
    padding-right: 100px;
}

.foget{
    text-align: end;
    font-weight: bold;
    margin-top: 10px;
}

span{
    color: #4b78f5;
    cursor: pointer;
}

.link{
    color: #4b78f5;
    cursor: pointer;
    text-decoration: none;
}

@media screen and (max-width: 1000px){
    .left-side{
        display: none;
    }

    .registration{
        width: 90%;
    }

    .same{
        width: 100%;
    }

    form{
        width: 80%;
    }

    .submit{
        width: 100%;
    }

    .sighnup-with{
        width: 100%;
    }

}

@media screen and (max-width: 600px) {
    .sighn-with{
        width: 50%;
        padding-left: 30px;
    }

    #permision{
        width: 18px;
        height: 18px;
    }

    .checkbox-text{
        font-size: 13px;
    }

    .radio-style{
        width: 15px;
    }

    .radio-text{
        font-size: 14px;
        margin-right: 5px;
    }
}