body{
  margin-left: 160px;
  background-color: rgb(248 248 248);

}

.work1{
  border-style: solid;
  width: 400px;
  margin-bottom: 20px  
}

.work2> div{
  width: 800px;
  border-style: solid;
  background-color: yellow;
  padding: 10px;
  margin-bottom: 20px;
}

.work2{
  border-bottom-style: solid;
  border-bottom-color: black;
  margin-bottom: 20px;
}

.work3> div{
  height: 100px;
  background-color: blue;
  margin-bottom: 20px;
}

.work3> div> p{
  color: white;
  font-size: 20px;
  padding-top: 20px;
  padding-left: 10px;
}

.work3{
  border-bottom-style: solid;
  border-bottom-color: black;
}

.work4 > p{
  margin: 0;
  font-size: 17px;
}

.work4{
  border-bottom-style: solid;
  border-bottom-color: black;
  margin-bottom: 20px;
}

.work5{
  border-bottom-style: solid;
  border-bottom-color: black;
}

.background-image{
  background: rgba(0,0,0,0.4)url('./20-years-of-nocs-sigarch.jpeg');
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  width: 1000px;
  height: 1200px;
  margin-bottom: 20px;
}

.background-image> p{
  color: white;
  width: 700px;
  padding-left: 10px;
}

.title{
  padding-top: 20px;
  padding-left: 350px;
  color: whitesmoke;
}

#qveTitle{
  color: yellowgreen;
  margin-left: 15px;
  font-size: 19px;
}

.list{
  color: white;
}

.georgia{
  margin-top: 20px;
  background: rgba(0,0,0,0.3)url('./danish-artrist.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  width: 1000px;
  height: 1600px;
  margin-bottom: 20px;
}

.miniTitle{
  margin: 0;
  font-size: 19px;
  color: yellowgreen;
  margin-left: 450px;
}

.discription{
  margin: 0;
  margin-left: 10px;
  margin-top: 10px;
  color: white;
  margin-bottom: 20px;
}

.link{
  text-decoration: none;
  color: yellow;
}


.sidebar{
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 150px;
  z-index: 2;
  cursor: pointer;
  background-color: white;
}

.sidebar > *{
  margin: 0;
  padding: 0;
}

.workLInk{
  text-decoration: none;
}


.sidebar> .workLInk> h3{
  color: rgb(27, 27, 228);
  border-color: gray;
  margin-left: 5px;
}

.sidebar> ul li{
  list-style: none;
}

.sidebar> ul li a{
  text-decoration: none;
  font-size: 19px;

}

.sidebar> ul li a> p{
  margin: 0;
  margin-left: 10px;
  margin-top: 10px;
}