body{
    background-image: url(UsedPhotos/background1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p{
    margin: 0;
}

.main-div{
    background-color: white;
    width: 1200px;
    margin: auto;
    border-radius: 15px;
    position: relative;
}

main{
    background-color: white;
    position: relative; 
}

.containers{
    display: flex;
    margin-left: 240px;
    display: inline-block;
    margin-top: 225px;
}

.item{
    display: flex;
    justify-content: start;
}


.game-photo{
    width: 290px;
    height: 435px;
}

.about-game{
    margin-left: 20px;
    width: 500px;
}

.game-title{
    color: rgn(44, 44, 44);
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 5px;
}

.categori{
    border: none;
    border-radius: 3px;
    display: inline-block;
    margin: 0 3px 4px 0;
    padding: 5px 10px;
    vertical-align: top;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #206a99;
    cursor: pointer;
    transition: background-color 0.3s;
}

.categori:hover{
    background-color: rgb(218, 47, 47);
}

.game-info{
    color: rgb(68, 68, 68);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-weight: 700;
    margin-top: 5px;
    text-decoration: underline;
}

.info{
    color: rgb(68, 68, 68);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-top: 5px;
}

.concret-info{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.short-desc{
    margin-top: 5px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.containers1{
    margin-top: 5px;
}


.page-section{
    margin-left: 200px;
    height: 100px;
    box-sizing: border-box;
    padding: 30px 0px 30px 40px;
}

.page{
    height: 42px;
    border: none;
    padding: 13px;
    background-color: #f0ecec;
    margin-right: 5px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.page1{
    height: 42px;
    border: none;
    padding: 13px;
    background-color: #ff6b6b;
    margin-right: 5px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    box-sizing: border-box;
}


@media screen and (max-width:1210px){
    .containers{
        margin-left: 180px;
        transition: 0.1s;
    }

    .main-div{
        width: 1140px;
        transition: 0.1s;
    }
}

@media screen and (max-width:1150px){
    .containers{
        margin-left: 140px;
        transition: 0.1s;
    }

    .main-div{
        width: 1020px;
        transition: 0.1s;
    }
}

@media screen and (max-width: 1030px){
    .containers{
        margin-left: 105px;
        transition: 0.1s;
    }

    .main-div{
        width: 940px;
        transition: 0.1s;
    }
}
