header{
    position: fixed;
    top: 0;
    width: 1200px;
    height: 80px;
    overflow: hidden;
    background-color: #4cbf52;
    display: flex;
    justify-content: space-between;
    z-index: 20;
}

/* left section */
.gaming-logo{
    width: 125px;
    margin-left: -15px;
}

.logo{
    display: flex;
    margin-top: -20px;
}

.logo-text{
    margin-top: 35px;
    margin-left: -20px;
}

.games{
    font-size: 32px;
    color: #2a2b29;
    font-weight: bold;
}

.games1{
    color: whitesmoke;
    font-size: 14px;
}

/* right section */

.right-section{
    display: flex;
    position: absolute;
    right: 50px;
}

.registration, .sighn-in{
    display: inline-block;
    margin-left: 20px;
}

.registration-logo, .sighn-logo{
    width: 25px;
    margin-top: 30px;
}

.regis-text{
    position: absolute;
    right: 20px;
    top: 65px;
    background-color:  rgb(73, 68, 68);
    color: rgb(197, 196, 196);
    padding: 4px;
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.sighn-text{
    right: -15px;
}

.registration:hover .regis-text{
    opacity: 1;
}

.sighn-in:hover .regis-text{
    opacity: 1;
}

/* ad section */

.ad{
    position: fixed;
    width: 1200px;
    top: 80px;
    z-index: 5;
}

.ad-img{
    width: 100%;
    height: 120px;
}

@media screen and (max-width:1210px){
    header{
        width: 1140px;
        transition: 0.1s;
    }

    .ad{
        width: 1140px;
        transition: 0.1s;
    }
}

@media screen and (max-width:1150px){
    header{
        width: 1020px;
        transition: 0.1s;
    }

    .ad{
        width: 1020px;
        transition: 0.1s;
    }


}

@media screen and (max-width:1030px){
    header{
        width: 940px;
        transition: 0.1s;
    }

    .ad{
        width: 940px;
        transition: 0.1s;
    }


}
