.left-bar{
    position: fixed;
    top: 200px;
    bottom: 0;
    width: 200px;
}

.bar{
    border: none;
    border-bottom: 1px solid #04222c;
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 40px;
    box-sizing: border-box;
    padding: 10px;
    background-color: #0b5d79;
    font-size: 14px;
    cursor: pointer;
    
}

.bar1{
    background-color: #04222c;
}

.bar:hover{
    background-color: #04222c;
}

.bar2{
    border: 1px solid;
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
}

.right-bar{
    display: inline-block;
}

@media screen and (max-width:1210px){
    .bar{
        width: 150px;
        transition: 0.1s;
    }    
}

@media screen and (max-width:1150px){
    .bar{
        width: 100px;
        transition: 0.1s;
    }    
}

