.project{
  background-color: #f1f3f6;
}

.main{
  width: 900px;
  border: solid 1px;
}

.header{
  height: 50px;
  background-color: gray;
}

.home-page{
  background-color: transparent;
  border: none;
}


.home-log{
  width: 25px;
  position: relative;
  top: 10px;
}

.serch-icon{
  width: 25px;
  position: relative;
  top: 10px;
}

.register-icon{
  width: 25px;
  position: relative;
  top: 10px;
}


.authorized-icon{
  width: 25px;
  position: relative;
  top: 10px;
}

.serch{
  width: 300px;
  height: 25px;
}

.left-section{
  display: inline-block;
}

.middle-section{
  display: inline-block;
  margin-left: 200px;
}

.right-section{
  display: inline-block;
  margin-left: 220px;
}

.serch-button{
  background-color: transparent;
  border: none;
}

.register-button{
  background-color: transparent;
  border: none;
}

.authorized-button{
  background-color: transparent;
  border: none;
}

.button{
  height: 45px;
  width: 100px;
}

.side-bar{
  display: inline-block;
}

.main-body{
  display: inline-block;
}

.web-photo{
  width: 216px;
  height: 180px;  
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.product{
  width: 240px;
  height: 355px;
  background-color: white;
  position: relative;
  left: 10px;
  border-radius: 7px;
}

.location{
  margin-left: 15px;
  margin-top: 5px;
}

.location-picture{
  width: 15px;
  border-radius: 50%;
  background-color: #bfbfc4;
  display: inline-block;
}

.location > p{
  display: inline-block;
  color: #79797e;
  font-size: 12px;
  margin-top: -4px;
  position: relative;
  top: -5px;
}

.about{
  margin-top: -20px;
  margin-left: 3px;
  color: #333333;
}

.line{
  width: 220px;
  height: 1px;
  background-color: #79797e;
  margin-left: 10px;
}