.form-1{
  width: 370px;
  height: 300px;
  margin: 20px auto;
  background-color: #ecf0f1;
  padding: 30px;
  box-sizing: border-box;
  border-bottom: solid 2px;
  border-left: solid 1px;
}

.text-1,.password-1{
  width: 300px;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
  border: solid 1px gray;
}

.sighn-1{
  width: 300px;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: orangered;
  border: none;
  box-sizing: border-box;
  color: white;
  font-size: 20px;
  transition: box-shadow 0.3s;
}

.login-1{
  font-size: 30px;
  text-align: center;
  margin-top: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.div-2{
  width: 800px;
  min-height: 500px;
  border: double;
  margin: 20px auto;
}

.sighn-up{
  margin: 0;
  margin-left: 40px;
  color: rgb(74, 74, 202);
  text-decoration: underline;
}

.sighn-1:hover{
  box-shadow: 2px 2px 10px grey;
}

.Tname-2{
  display: inline-block;
  margin-bottom: 30px;
}

.Temail-2{
  display: inline-block;
  margin-bottom: 30px;
}

.Tpassword-2{
  display: inline-block;
  margin-bottom: 30px;
}

.Tinput-2{
  display: inline-block;
  margin-bottom: 30px;
}

.Tteaxtarea-2{
  display: inline-block;
}

.about-2{
  font-size: 28px;
  margin-left: 15px;
  margin-top: 8px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(81, 88, 86);
}

.side-bar{
  display: inline-block;
  text-align: end;
  margin-left: 35px;
  font-size: 17px;
  color: rgb(81, 88, 86);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.form-2{
  display: inline-block;
}

.name-2,.email-2,
.password-2,.input
{
  margin: 0;
  margin-bottom: 32px;
  width: 630px;
  height: 30px;
  margin-left: 30px;
  font-size: 16px;
  border: none;
  border-bottom: solid 1px rgb(123, 143, 135);
  outline: none;
}
.form-2 > ::placeholder{
  color: rgb(123, 143, 135);
}

.textarea-2{
  margin-bottom: -40px;
  margin-left: 30px;
  border: none;
  border-bottom: solid 1px rgb(123, 143, 135);
  resize: none;
  outline: none;
}

.main-3{
  width: 900px;
  min-height: 500px;
  border: solid 1px #76cf76;
  margin: 20px auto;
  box-sizing: border-box;
  background-color: #effcef;
}

.div-3{
  float: left;
}

.div2-3{
  position: relative;
  left: 40px;
  top: 30px;
}

.name-3{
  width: 350px;
  height: 35px;
  border-radius: 5px;
  margin-left: 30px;
  margin-top: 30px;
  outline: none;
  border: solid 1px #76cf76;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.email-3,
.phone-3{
  width: 350px;
  height: 35px;
  border-radius: 5px;
  margin-left: 30px;
  margin-top: 15px;
  outline: none;
  border: solid 1px #76cf76;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.textarea-3{
  border-radius: 5px;
  margin-left: 30px;
  margin-top: 30px;
  resize: none;
  outline: none;
  border: solid 1px #76cf76;
  box-sizing: border-box;
}

.question1,.question2,
.question3{
  font-size: 18px;
  font-weight: bold;
  font-family: Arial;
}

.day{
  color: #76cf76;
  font-family: Arial, Helvetica, sans-serif;
}

.line-3{
  background-color: #76cf76;
  width: 850px;height: 1px;
  margin-top: 55px;
  margin-left: 25px;
}

.form3-3{
  margin: 25px 300px;
}

.button-3{
  background-color: #76cf76;
  border: none;
  color: white;
  width: 250px;
  height: 40px;
  font-size: 18px;
  border-radius: 5px;
  text-align: center;
}