div{
  border: solid 1px;
  width: 500px;
}

.normal{
  font-size: 20px;
  font-weight: bold;
}

.italic{
  font-style: italic;
}

.oblique{
  font-style: oblique;
}

.work1> p{
  margin-left: 10px;
}

.work2> h2{
  margin-left: 150px;
}

.work2> p{
  margin-left: 10px;
}

.work2{
  background-color: yellow;
}

.work3> h1{
  color: red;
  margin-left: 250px;
}

.work3{
  height: 300px;
}

.sqesi{
  font-size: 17px;
  font-weight: bold;
  position: relative;
  text-align: end;
}

.lastName{
  padding-bottom: 10px;
  border-bottom: solid 3px red;
  width: 250px; 
}

.lastName2{
  padding-bottom: 10px;
  border-bottom: solid 3px blue;
  width: 250px; 
}

.work4> p{
  margin: 0;
  margin-left: 10px;
}

.work4> h2{
  margin-left: 150px;
  margin-bottom: 50px;
}

.work5> h1{
  text-decoration: overline;
}

.work5> h2{
  text-decoration: line-through;
}

.work5> h3{
  text-decoration: underline;
}

.work5{
  width: 490px;
  height: 250px;
  padding-left: 10px;
}

.title{
  font-size: 19px;
  font-weight: bold;
}

ul li{
  letter-spacing: 3px;
}

.dotted{
  border: dotted 5px cyan;
}

.dashed{
  border: 5px cyan dashed;
}

.solid{
  border: 5px cyan solid;
}

.double{
  border: 5px cyan double;
}

.groove{
  border: 5px cyan groove;
}

.ridge{
  border: 5px cyan ridge;
}

.inset{
  border: 5px cyan inset;
}

.mix{
  border: 5px cyan;
  border-bottom-style: solid;
  border-top-style: dotted;
  border-left-style: groove;
  border-right-style: groove;
}


.div1{
  width: 130px;
  background-color: brown;
  border-style: solid;
  border-radius: 17px;
  margin: 10px;
  padding: 5px;
}

.div2{
  width: 130px;
  border-style: solid;
  border-radius: 17px;
  margin: 10px;
  padding: 5px;
}

.div3{
  background-image: url('./usedPhoto/download\ \(1\).jpg');
  background-size: cover;
  width: 130px;
  border-style: solid;
  border-radius: 17px;
  margin: 10px;
  padding: 5px;
  color: red;
  border-color: black;
}