
table{
  width: 300px;
}

tr{
  height: 30px;
}

.clow1{
  background-color: bisque;
}

.clow2{
  background-color: aqua;
}

.clow3{
  background-color: red;
}

.clow4{
  background-color: green;
}

.clow5{
  background-color: brown;
}


.work2 h4{
  margin-top: -36px; 
  box-sizing: border-box;
}

.div-1{
  width: 700px;
  height: 400px;
  background-color: grey;
  box-sizing: border-box;
  padding: 50px;
  align-items: center;
  text-align: center;
}

.div-2{
  width: 600px;
  height: 300px;
  background-color: yellow;
  box-sizing: border-box;
  padding: 50px;
}

.div-3{
  width: 500px;
  height: 200px;
  background-color: gray;
  box-sizing: border-box;
  padding: 50px;
  margin-bottom: 0px;
}


.div-4{
  width: 400px;
  height: 100px;
  background-color: white;
  box-sizing: border-box;
  border: deshd 2px red;
}

.center{
  text-align: center;
  margin-top: -50px;
}

.work3{
  width: 800px;
  box-shadow: 10px 10px 10px grey;
}

.header{
  height: 100px;
  background-color: green;
  padding: 10px 10px;
}

.name {
  color: white;
}

.kutxeebi{
  background-color: aqua;
  width: 150px;
  height: 50px;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 30px;
  
}

.side-bar{
  display: inline-block;
}

.text{
  display: inline-block;
  width: 550px;
}

.bottom{
  margin-top: 40px;
  height: 100px;
  background-color: green;
}

.head{
  margin-top: 20px;
  font-size: 30px;
}

.main-text{
  font-size: 18px;
}